<div class="telegram-embedded-content">
  <blockquote class="telegram-media-placeholder-loading" style="padding:2em;background-color:#FBFBFB;text-align:center;">{{ url }}</blockquote>
  <script>
    var placeholders = document.querySelectorAll(".telegram-media-placeholder-loading");
    for (var i = 0; i < placeholders.length; ++i) {
      placeholders[i].style.display = "none";
    }
  </script>
  <script async src="https://telegram.org/js/telegram-widget.js?18" {{ script_attributes|without('src', 'async') }}></script>
</div>
